<!DOCTYPE html>

<html>
<head>
    <title>Plateforme</title>
    <link rel="stylesheet" href="/stylesheets/semantic/semantic.min.css">
    <style>
        .main.container{
            margin-top: 7em;
        }
    </style>
</head>
<body>
<div class="ui fixed inverted menu">
    <a href="/calcpanel" class="header item">Calcul</a>
</div>
<div class="ui main container">
    <% if(locals.flash && locals.flash.error) {%>
    <div class="ui negative message">
        <%= flash.error %>
    </div>
<% } %>