<!DOCTYPE html>

<html>
    <head>
        <title>Plateforme</title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        <style>
            .main.container{
                margin-top: 7em;
            }
        </style>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <a href="/" class="header item">Worker</a>
            <a href="/Calcul" class="header item">Calcul</a>
        </div>
        <div class="ui main container">
            <% if(locals.error) {%>
            <div class="ui negative message">
                <%= error %>
            </div>
            <% } %>