<% include header %>

<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="Code">Calcul Code</label>
        <textarea name="code" id="code"></textarea>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
        <label class="icon edit"></label>Envoyer
    </button>
</form>

<% include footer %>